<template>
    <div>
        <h1>{{ greeter.text }}</h1>
        <p>{{ $t('greeter.subtitle') }}</p>
    </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { SET_OBJECT, SET_GREET } from '../store/action-types';

  export default {
    name: 'main-page',
    computed: {
      ...mapState({
        greeter: state => state.main.greeter,
      }),
    },
    mounted() {
      this.$store.dispatch(`main/greeter/${SET_GREET}`);
      this.$store.dispatch(`main/greeter/${SET_OBJECT}`);
    },
  };
</script>
