<template>
    <div>
        <link-button :target="'/de'" :label="$t('greeter.linkbutton.de.label')"></link-button>
        <link-button :target="'/en'" :label="$t('greeter.linkbutton.en.label')"></link-button>
    </div>
</template>

<script>
  import LinkButton from './LinkButton';

  export default {
    components: { LinkButton },
    name: 'language-links',
  };
</script>
