<template>
    <button @click="handleClick">{{ label }}</button>
</template>

<script>
  import Vue from 'vue';
  import Translator from '../../../translator';
  import { RELOAD } from '../store/action-types';

  export default {
    name: 'LinkButton',
    props: ['target', 'label'],
    methods: {
      handleClick() {
        let locale = Translator.getLocale();
        if (this.target.toString().includes('de')) {
          locale = Translator.getLocale('de');
        } else if (this.target.toString().includes('en')) {
          locale = Translator.getLocale('en');
        }
        Translator.setLanguage(locale);
        Vue.i18n.set(locale);

        this.$router.push({ path: this.target });
        this.$store.dispatch(`main/${RELOAD}`);
      },
    },
  };
</script>
