<template>
    <div>
        <greet-page></greet-page>
        <language-links></language-links>
    </div>
</template>

<script>
  import LanguageLinks from './LanguageLinks';
  import GreetPage from '../modules/greeter/components/GreetPage';

  export default {
    components: { LanguageLinks, GreetPage },
    name: 'main-page',
  };
</script>
